.main-header {
    position: relative;
    text-align: center;
   
    min-width: 1050px;
    border-bottom: 0px;
    background: rgb(95, 0, 128)
    
   
}
.main-header__text {
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-right: 100px;
}

